
<head>
    <title>Report Login Form</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
        content="Report Login Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //Meta tag Keywords -->
    <link href="//fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap" rel="stylesheet">
    <!--/Style-CSS -->
    <link rel="stylesheet" href="/static/login/css/style.css" type="text/css" media="all" />
    <!--//Style-CSS -->

    <link rel="stylesheet" href="/static/login/css/font-awesome.min.css" type="text/css" media="all">

</head>

<body>

    <!-- form section start -->
    <section class="w3l-hotair-form">
        <h1>Student Registration</h1>
        <div class="container">
            <!-- /form -->
            <div class="workinghny-form-grid">
                <div class="main-hotair">
                    <div class="content-wthree">
                        <h2>Register </h2>
                        <form action="/studetregister_post" method="post" enctype="multipart/form-data">
                            <input type="text" class="text" name="textfield" placeholder=" Name" required pattern="[a-zA-Z]+" autofocus>
                            <input type="text" class="text" name="textfield2" placeholder=" Place" required pattern="[a-zA-Z]+" autofocus>
                            
                            <input type="text" class="text" name="textfield4" placeholder=" Phone"  required pattern="[6789][0-9]{9}" autofocus>
                            <tr>
                                <td>Standard</td>
                                <td>
                                    <select name="select2">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>Plus One</option>
                                        <option>Plus Two</option>
                                    </select>
                                </td>
                            </tr>
                            <input type="text" class="text" name="textfield5" placeholder=" Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}" autofocus>
                            <input type="text" class="text" name="textfield6" placeholder=" Username" required pattern="[a-zA-Z]+" autofocus>
                            <input type="password" class="password" name="textfield7" placeholder="Password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"  autofocus>
                            <tr>
                                <td>Image</td>
                                <td><input type="file" name="file" required/></td>
                            </tr>
                            <tr>
                                <td>ID Proof</td>
                                <td><input type="file" name="file2" required/></td>
                            </tr>
                            <button class="btn" type="submit">Register</button>
                        </form>
                        
{#                        <p class="account">Don't have an account? <a href="register">Register</a></p>#}
                    </div>
                    <div class="w3l_form align-self">
                        <div class="left_grid_info">
                            <img src="/static/login/images/1.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <!-- //form -->
        </div>
        <!-- copyright-->
        <div class="copyright text-center">
            <p class="copy-footer-29">© 2021 Report Login Form. All rights reserved | Design by <a
                        href="https://w3layouts.com">W3layouts</a></p>
        </div>
        <!-- //copyright-->
    </section>
    <!-- //form section start -->
</body>
