{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{#{% extends 'student/index.html' %}#}
{#{% block body %}#}
{#<body>#}
{#<form id="form1" name="form1" method="post" action="/sendreport_post">#}
{#  <table width="200" border="1">#}
{#    <tr>#}
{#      <td width="76">category</td>#}
{#      <td width="108"><label>#}
{#        <select name="select">#}
{#          <option>bullying</option>#}
{#          <option>violence</option>#}
{#          <option>report</option>#}
{#          <option>mental concern</option>#}
{#            <option>other</option>#}
{#        </select>#}
{#      </label></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td>report</td>#}
{#      <td><label>#}
{#        <input type="text" name="textfield" required />#}
{#      </label></td>#}
{#    </tr>#}
{##}
{#      <tr>#}
{#      <td colspan="2"><label>#}
{#        <input type="submit" name="Submit" value="Submit" />#}
{#      </label></td>#}
{#    </tr>#}
{#  </table>#}
{#</form>#}
{#</body>#}
{#</html>#}
{#{% endblock %}#}
{% extends 'student/index.html' %}
{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10"> <!-- Increased the column width -->
            <div class="card">
                <div class="card-header bg-primary text-white text-center">
                    <h4>Submit a Report</h4>
                </div>
                <div class="card-body">
                    <form id="form1" name="form1" method="post" action="/sendreport_post">
                        <div class="form-group mb-3">
                            <label for="category" class="form-label">Category</label>
                            <select name="select" id="category" class="form-select" required>
                                <option value="">Select a Category</option>
                                <option value="bullying">Bullying</option>
                                <option value="violence">Violence</option>
                               
                                <option value="mental_concern">Mental Concern</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label for="report" class="form-label">Report</label>
                            <input type="text" name="textfield" id="report" class="form-control" required />
                        </div>
                        <div class="text-center">
                            <button type="submit" name="Submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
