<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="login_post" method="post">

        <label for="username">username</label>
        <input type="username" id="username"name="username" required>

        <label for="password">password</label>
        <input type="password" id="password" name="password" required>


        <input type="submit" value="Login">
        <a href="studetregister"> Student Register</a>

        <a href="actionboardregister"> ActionBoard Register</a>
        <a href="actionboardregister"> Teacher Register</a>
    </form>
</body>
</html>